import ballerinax/java;

public type {{shortClassName}} object {

    handle jObj = java:createNull();

    {{#singleConstructor}}public {{/singleConstructor}}function __init({{#singleConstructor}}{{#constructorList}}{{#parameters}}{{shortTypeName}} {{fieldName}}{{#notLast}}, {{/notLast}}{{/parameters}}{{/constructorList}}{{/singleConstructor}}) {
        {{#singleConstructor}}self.jObj = {{#constructorList}}{{prefix}}_{{constructorName}}({{#parameters}}{{fieldName}}{{#notLast}}, {{/notLast}}{{/parameters}}{{/constructorList}});{{/singleConstructor}}
    }{{#methodList}}{{#isInstance}}

    public function {{methodName}}({{#parameters}}{{shortTypeName}} {{fieldName}}{{#notLast}}, {{/notLast}}{{/parameters}}) {{#hasReturn}}returns {{returnType}} {{/hasReturn}}{
        {{#hasReturn}}return {{/hasReturn}}{{#noReturn}}_ = {{/noReturn}}{{prefix}}_{{methodName}}(self.jObj{{#noParams}}, {{/noParams}}{{#parameters}}{{fieldName}}{{#notLast}}, {{/notLast}}{{/parameters}});
    }{{/isInstance}}{{/methodList}}
};
{{#initFunctionList}}
public function {{prefix}}{{constructorName}}({{#parameters}}{{shortTypeName}} {{fieldName}}{{#notLast}}, {{/notLast}}{{/parameters}}) returns {{shortClassName}} {
    handle obj = {{prefix}}_{{externalFunctionName}}({{#parameters}}{{fieldName}}{{#notLast}}, {{/notLast}}{{/parameters}});
    {{shortClassName}} {{initObjectName}} = new();
    {{initObjectName}}.jObj = obj;
    return {{initObjectName}};
}
{{/initFunctionList}}
{{#constructorList}}
{{access}}function {{prefix}}_{{constructorName}}({{#parameters}}{{shortTypeName}} {{fieldName}}{{#notLast}}, {{/notLast}}{{/parameters}}) returns handle = {{interopType}} {
    class: "{{className}}",
    paramTypes: [{{#parameters}}"{{type}}"{{#notLast}}, {{/notLast}}{{/parameters}}]
} external;
{{/constructorList}}{{#methodList}}
{{access}}function {{prefix}}_{{methodName}}({{#isInstance}}handle receiver{{#noParams}}, {{/noParams}}{{/isInstance}}{{#parameters}}{{shortTypeName}} {{fieldName}}{{#notLast}}, {{/notLast}}{{/parameters}}) {{#hasReturn}}returns {{returnType}} {{/hasReturn}}= {{interopType}} {
    name: "{{javaMethodName}}",
    class: "{{className}}"{{#params}},
    paramTypes: [{{#parameters}}"{{type}}"{{#notLast}}, {{/notLast}}{{/parameters}}]{{/params}}
} external;
{{/methodList}}{{#fieldList}}
{{access}}function {{prefix}}_{{fieldMethodName}}({{#isSetter}}handle receiver, {{returnType}} arg{{/isSetter}}) {{#hasReturn}}returns {{returnType}} {{/hasReturn}}= {{interopType}} {
    name: "{{fieldName}}",
    class: "{{className}}"
} external;{{/fieldList}}
